.hero {
	position: relative;
	background: var(--gold);
	@media (--sm) {
		padding-bottom: 0;
	}
	@media (--md) {
		padding-bottom: 0;
	}
	@media (--lg) {
		padding-bottom: 340px;
	}
	main {
		position: relative;
		display: flex;
		flex-flow: column;
		width: 100%;
		height: 100%;
		max-width: 2000px;
		container {
			padding: 0 2.25rem;
			margin-top: auto;
			background-repeat: no-repeat;
			background-position: top center;
			background-size: 200%;
			padding-bottom: 2.25rem;
	    align-items: center;
	    display: flex;
	    flex-flow: column;
			@media (--sm) {
				padding-bottom: 0;
				background-size: cover;
				background-position: 0px -530px;
			}
			@media (--md) {
				padding-bottom: 0;
				background-size: cover;
				background-position: 0px -260px;
			}
			@media (--lg) {
				padding-bottom: 0;
				background-size: cover;
				background-position: center center;
			}
			.flex-container {
				display: flex;
				justify-content: center;
				flex-flow: column;
				@media (--sm) {
					flex-flow: column;
				}
				@media (--md) {
					flex-flow: row;
				}
				@media (--lg) {
					flex-flow: row;
				}
			}
			.flex-item {
				&.wrapper {
					margin-top: 50px;
					@media (--sm) {
						margin-top: 0px;
					}
					@media (--md) {
						margin-top: 80px;
					}
					@media (--lg) {
						margin-top: 25px;
					}
				}
				&.copy {
					width: 100%;
					max-width: 100%;
					padding: 0;
					text-align: center;
					@media (--sm) {
						max-width: 100%;
						padding: 50px 0 0 0;
					}
					@media (--md) {
						max-width: 480px;
						padding-top: 50px;
						text-align: left;
						padding: 50px 0 0 10%;
					}
					@media (--lg) {
						padding-top: 100px;
					}
				}
				&.img {
					margin: 0px 125px;
			    text-align: center;
				}
				img {
					position: relative;
					width: 100%;
					max-width: 365px;
					min-width: 200px;
					bottom: 0;
					@media (--sm) {
						bottom: -38px;
					}
					@media (--md) {
						bottom: 0;
					}
					@media (--lg) {
						bottom: 0;
					}
				}
				h1 {
					color: var(--white);
			    padding: 0 20%;
					@media (--sm) {
				    padding: 0 15%;
					}
					@media (--md) {
				    padding: 0%;
					}
					@media (--lg) {
				    padding: 0%;
					}
				}
				p {
					color: var(--white);
					padding-top: 1em;
			    padding-bottom: 1em;
				}
				&.article {
					position: relative;
			    max-width: 100%;
			    width: 100%;
					@media (--sm) {
						bottom: -38px;
				    max-width: 1290px;
				    width: 800px;
					}
					@media (--md) {
				    bottom: -90px;
				    max-width: 1290px;
				    width: 1290px;
					}
					@media (--lg) {
						bottom: -28px;
				    max-width: 1290px;
				    width: 100%;
					}
					h4 {
						padding-top: 1em;
					}
					.excerpt {
						p {
							color: var(--black);
							font-size: 13px;
							max-width: 450px;
						}

					}
					.post__meta--cta {
						margin-top: 1em;
						display: block;
					}
				}
			}
		}
	}
	div {
		img {
			width: 100%;
			height: auto;
		}
	}
	.post {
		margin: 0 auto;
		padding: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: center;
    top: -2px;
		@media (--sm) {
			flex-direction: column;
			top: -135px;
		}
		@media (--md) {
			top: -95px;
			flex-direction: row;
	    margin-bottom: 65px;
			
		}
		@media (--lg) {
			flex-direction: row;
			margin-bottom: -335px;
		}
		.post__image {
			flex: 50%;
			padding: 0;
			margin: 0;
			min-height: 250px;
			max-height: 100px;
			height: 250px;
	    max-width: 100%;
			@media (--sm) {
				height: 300px;
				min-height: 100%;
				max-height: 300px;
			}
			@media (--md) {
				height: 100%;
				min-height: 100%;
				max-height: 400px;
				height: 400px;
			}
			@media (--lg) {
				min-height: 100%;
				max-height: 590px;
				height: 590px;
			}
		}
		.post__meta {
			flex: 50%;
			margin: 0;
			padding: 0;
			margin: 0;
			min-height: 340px;
			max-width: 100%;
			@media (--sm) {
				min-height: 340px;
			}
			@media (--md) {
				min-height: 400px;
			}
			@media (--lg) {
				min-height: 590px;
			}
			.hero-post__wraper {
				padding: 2em;
			}
			.post__meta--icon {
				margin: 0;
			}
		}
	}
}